body{
background-color: blue;
}


body:before {
content :"";
position: absolute;
inset: 40% -60% 0 -60;
opacity: 0.3;
pointer-events: none;
}
nav {
position: relative;
z-index: 1;
}
nav ul {
margin: 0;
padding: 0;
list-style: none;
display: flex;
gap: 40px;
}

nav.before.active-element {
transform: rotatey(180deg);
}