div{
    color:white;
    background-color: black;
    
}
body{
    margin: 0%;
    padding: 0%;
    margin-top: 0%;
}
h1{
    margin: 0%;
}

.child1{
    background-color: rgb(255, 0, 0);
}
.child2{
    background-color: rgb(0, 0, 255);
}

.child3{
    background-color: rgb(255, 122, 155);
}
.child4{
    background-color: rgb(142, 105, 255);;    
}
.flex{
 display: flex;   
}
.flex-warp{
    display: flex;
    flex-wrap: wrap;
   }
.flex-basis{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 4;
}
.flex-grow{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;  
}
.flex-grow .child2{
    flex-grow: 2;
}

.flex-row-AI{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    height: 100px;
    background-color: rgb(50, 42, 42);  
}
.flex-row-JC{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(50, 42, 42);
    height: 100px;
}
.flex-row-JC div{
    height:fit-content
}
.flex-column-AI{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: rgb(50, 42, 42);
    height: 100px;
}

.flex-column-JC{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    background-color: rgb(50, 42, 42);
}



.flex-column-JC div{
    width:fit-content
}